.about-page {
    width: 50%;
    height: fit-content;

    margin-left: 25%;
    margin-top: 7.5rem;
    margin-bottom: 5rem;
    text-align: center;
}

.about-page-title {
    text-align: center;
    color: black;
    margin-top: 1rem;    
    font-size: 2em;
    font-style: italic;
}