/* src/styles/Communities.css

.communities-page {
    width: 75%;
    margin: 0 auto;
    margin-top: 7.5rem;
    margin-bottom: 5rem;
  }

  .communities-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin: 1rem;
  }
  
  .communities-title {
    flex-grow: 1;
    text-align: center;
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .create-community-button {
    margin-left: 65rem;
    padding: 1rem;
    background-color: #55AD9B;
    color: white;
    font-weight: bold;
    font-size: 0.9rem;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }

  .create-community-button:hover {
    background-color: #6ebeae;
    color: #333;
  }
  
  .create-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px 0;
  }
  
  .create-form input,
  .create-form button {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid lightgray;
  }
  
  .create-form button {
    background-color: #F1F8E8;
    color: white;
    cursor: pointer;
  }
  
  .create-form button:hover {
    background-color: #55AD9B;
  }*/
   

   .communities-page {
    width: 75%;
    margin: 0 auto;
    margin-top: 7.5rem;
    margin-bottom: 5rem;
  }
 

  h1 {
    text-align: center;
  }
  
  .communities-title {
    text-align: center;
    margin: 1rem;
  }
  
  .create-community-button {
    padding: 1rem;
    background-color: #55ad9b;
    color: white;
    font-weight: bold;
    font-size: 0.9rem;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .create-community-button:hover {
    background-color: #6ebeae;
    color: #333;
  }
    
  .create-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px 0;
  }
  
  .create-form input,
  .create-form button {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid lightgray;
  }
  
  .create-form button {
    background-color: #f1f8e8;
    color: white;
    cursor: pointer;
  }
  
  .create-form button:hover {
    background-color: #55ad9b;
  }
  