/* src/styles/Comments.css */

.comments-section {
  margin-top: 20px;
  text-align: left;
}

.comment-form {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.comment-form input {
  flex: 1;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.comment-form button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #55AD9B;
  color: white;
  font-weight: bold;
}

.comment-form button:hover {
  background-color: #F1F8E8;
  color: #333;
}

.comments-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.comment {
  background-color: #F1F8E8;
  padding: 10px;
  border-radius: 0.75rem;
}
