/* src/styles/CommunityPage.css */

.community-page {
    width: 50%;
    height: fit-content;

    margin-left: 25%;
    margin-top: 7.5rem;
    margin-bottom: 5rem;
    text-align: center;
}

.community-title {
    text-align: center;
    color: black;
    margin-bottom: 20px;
    font-size: 2em;
}

.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.tab {
    padding: 10px 20px;
    border: none;
    border-bottom: 2px solid transparent;
    background-color: transparent;
    cursor: pointer;
    font-size: 1.2em;
    margin: 0 10px;
    transition: all 0.3s ease;
}

.tab:hover {
    color: #55AD9B;
}

.tab.active {
    border-bottom: 2px solid #55AD9B;
    color: #55AD9B;
}

.new-post-button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: #55AD9B;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
.new-post-button:hover {
    background-color: #55AD9B;
  }

.create-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px 0;
  }
  
  .create-form input,
  .create-form textarea,
  .create-form select,
  .create-form button {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid lightgray;

  }
  
  .create-form button {
    background-color: #55AD9B;
    color: white;
    cursor: pointer;
  }
  
  .create-form button:hover {
    background-color: #55AD9B;
  }

  .join-leave-button {
    padding: 0.5rem;
    border-radius: 5px;
    border-color: #55AD9B;
    background-color: #F1F8E8;
    cursor: pointer;
    margin: 1rem;
  }
  .join-leave-button:hover {
    background-color: #55AD9B;
    color: white;
  }

.nothing-here {
  margin: 2rem;
  font-size: larger;
  font-style: italic;
}

  .rules-container {
    text-align: center; 
    max-width: 600px; 
    margin: 0 auto; 
  }
  
  .rules-list {
    list-style-type: none; 
    padding: 0; 
  }
  
  .rules-list li {
    margin-bottom: 10px; 
  }
  
  
  .members-list {
    list-style: none;
    padding: 0;
  }
  
  .member-item {
    background-color: #f9f9f9;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
  }
  
  .member-item h3 {
    margin: 0;
    color: #55AD9B;
  }
  
  .member-item ul {
    list-style: none;
    padding: 0;
  }
  
  .member-item ul li {
    margin: 5px 0;
  }

  