/* src/styles/CommunitiesFeed.css */

.communities-feed {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
}

.community-item {
    background-color: white;
    border-radius: 1rem;
    padding: 1.2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: calc(33.333% - 20px);
    box-sizing: border-box;
    text-decoration: none;
    color: black;
    transition: transform 0.3s, box-shadow 0.3s;
}

.community-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.community-item-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.community-item-community {
    font-style: italic;
    font-size: 1.2em;
    color: grey;
}

.community-item:hover .community-item-community {
    color: #55AD9B;
}