/* src/styles/ExplorePage.css*/ 
.explore-page {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 7.5rem;
  margin-bottom: 5rem;
}

.explore-page-title {
  text-align: center;
  color: black;
}

.search-mode {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.search-mode label {
  margin-right: 20px;
}

.content {
  display: flex;
  gap: 20px;
}

.filters {
  flex: 0 0 14rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: left;
}

.tags-filter,
.locations-filter {
  background-color: white;
  padding: 10px;
  border-radius: 1rem;
}

.tags-filter {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 1rem;
}

.locations-filter {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 1rem;
}

.tag-item,
.location-item {
  display: flex;
  align-items: center;
}

.tag-item input,
.location-item input {
  margin-right: 5px;
}

Feed {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

  