/* src/styles/Feed.css */

.feed {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: 0 auto;
}

.feed-item {
  background-color: white;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
  position: relative;
}

.feed-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.feed-item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.feed-item-content {
  font-weight: bold;
  font-size: 1.2em;
  color: black;
}

.feed-item-community {
  font-style: italic;
  color: grey;
  text-decoration: none;
}

.feed-item-community:hover {
  text-decoration: underline;
  color: #55AD9B;
}

.feed-item-details {
  margin-bottom: 1rem;
}

.feed-item-user {
  margin-bottom: 1rem;
  color: grey;
}

.post-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-group {
  display: flex;
  gap: 1rem;
}

.button-group button {
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  background-color: #55AD9B;
  color: white;
  font-weight: bold;
  transition: background-color 0.3s;
}

.button-group button:hover {
  background-color: #D8EFD3;
}

.likes-count, .current-rating {
  margin-left: 1rem;
}

.star-rating {
  display: flex;
  align-items: center;
}

.star {
  cursor: pointer;
  font-size: 1.5em;
  color: #ddd;
  transition: color 0.3s;
}

.star.filled {
  color: gold;
}

.post-tags {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.tag-link {
  background-color: #F1F8E8;
  color: #333;
  padding: 0.4rem 0.7rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.tag-link:hover {
  background-color: #55AD9B;
  color: white;
}
