/* src/styles/Header.css */
.header {
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* Stack elements vertically */
    justify-content: center;
    align-items: center;
    background-color: #55AD9B;
    color: white;
    padding: 0.5rem;
}

.logo {
    background-image: url('../logo.svg');
    width: 15rem;
    height: 3.41rem;
    background-size: cover; /* Alebo contain, podľa potreby */
    background-position: center;
    background-repeat: no-repeat;    
    margin: 0;
}

.nav {
    display: flex;
    gap: 3rem;
    margin-top: 0.5rem;
}

.nav a:hover {
    color: #D8EFD3;
    text-decoration: underline;
}

.header a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding-top: 0.5rem;
}