.home {
    width: 50%;
    height: fit-content;

    margin-left: 25%;
    margin-top: 7.5rem;
    margin-bottom: 5rem;
    text-align: center;

    /*background-color: white;*/
}

h1 {
    margin-top: 1rem;
}