/* src/styles/Members.css */

.members-list {
    padding: 20px;
    text-align: left;
  }
  
  .member-item {
    background-color: white;
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 1rem;
  }
  
  .member-item h3 {
    margin-top: 0;
  }
  
  .member-item p,
  .member-item ul {
    margin: 5px 0;
  }
  
  .member-item ul {
    padding-left: 20px;
  }
  
  .member-item li {
    list-style-type: disc;
  }



  
  