/* src/styles/PostDetail.css */

.post-detail {
    width: 50%;
    margin-left: 25%;
    margin-top: 9rem;
    margin-bottom: 5rem;
    padding: 20px;
    background-color: white;
    text-align: center;
    box-sizing: border-box; /* Ensure padding is included in width */
    border-radius: 1rem;
  }
  
  .post-detail-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .feed-item-community {
    font-style: italic;
    color: #555;
  }
  
  .post-content-detail {
    margin-top: 5px;
    margin-bottom: 20px; /* Ensure space between content and actions */
  }
  
  .post-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px; /* Ensure space between actions and comments */
  }
  
  .button-group {
    display: flex;
    gap: 10px;
  }
  
  .button-group button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #55AD9B;
    color: white;
    font-weight: bold;
  }
  
  .button-group button:hover:not([disabled]) {
    background-color: #F1F8E8;
    color: #333;
    font-weight: bolder;
  }
  
  .button-group button[disabled] {
    opacity: 0.6;
    cursor: not-allowed;
  }
  
  .likes-count {
    margin-left: 10px;
    font-style: italic;
    color: grey;
  }
  
  .post-detail-tags {
    display: flex;
    gap: 10px;
    flex-wrap: wrap; /* Allow tags to wrap within the container */
    justify-content: flex-start; /* Align tags to start after buttons */
  }
  
  .post-detail-tag-link {
    background-color: #F1F8E8;
    color: #333;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .post-detail-tag-link:hover {
    background-color: #55AD9B;
    color: white;
  }
  