/* src/styles/CommunityPage.css */

.profile-page {
    width: 50%;
    height: fit-content;

    margin-left: 25%;
    margin-top: 7.5rem;
    margin-bottom: 5rem;
    text-align: center;
}

.profile-page-title {
    text-align: center;
    color: black;
    margin-top: 1rem;
}

.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.tab {
    border: none;
    border-bottom: 2px solid transparent;
    background-color: transparent;
    cursor: pointer;
    font-size: 1.2em;
    margin: 0 10px;
    transition: all 0.3s ease;
}

.tab:hover {
    color: #55AD9B;
}

.tab.active {
    border-bottom: 0.1rem solid #55AD9B;
    color: #55AD9B;
}
.profile {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .bio {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .details {
    display: flex;
    gap: 20px;
  }
  
  .column {
    flex: 1;
  }
  
  .column h3 {
    margin-bottom: 10px;
  }
  
  .column ul {
    list-style-type: none;
    padding: 0;
  }
  
  .column ul li {
    margin-bottom: 5px;
    display: inline-block; /* Pridané */
    margin-right: 10px; /* Pridané - medzera medzi jednotlivými položkami */
  }
  